/* FONTS */
.f-hsz {
    font-family: 'Noto Sans', sans-serif;
}

a,
p,
span {
    font-family: 'Lato', sans-serif;
}

a:hover {
    color: #F5F6F7;
    text-decoration: none;
}

.main-link {
    color: #F5F6F7;
}

/* UTILS */
html,
body {
    height: 100%;
    margin: 0;
}

body {
    color: #F5F6F7;
    background-color: #1B1B32;
}

h1 {
    font-weight: 700;
}

cite {
    color: #F5F6F7;
}

i {
    font-size: 22px;
}

.page-wrapper {
    max-width: 750px;
    min-height: 80%;
    margin-bottom: -50px;
}

.container-fluid {
    max-width: 992px;
}

.spacer {
    padding: 35px 0;
    height: 1px;
}


/* NAVBAR */
.navbar-dark {
    background-color: #0a0a23 !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #F5F6F7;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #F5F6F7;
}

.navbar-dark .navbar-nav .nav-link:focus {
    color: #F5F6F7;
}

.navbar-dark .navbar-toggler {
    border-color: #F5F6F7;
}

.navbar-toggler {
    padding: 0.2rem;
    border-radius: 0;
}

.navbar-toggler:hover {
    background-color: #F5F6F7;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar-toggler:hover .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(10 ,10 ,35, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.nav-item a {
    color: #F5F6F7;
    text-decoration: none;
}

/* HEADER */
.blockquote-footer {
    color: #F5F6F7;
}

/* CURRICULUM */
.curriculum-link {
    margin-bottom: 10px;
    min-height: 80px;
    background-color: #3b3b4f;
    border-color: #F5F6F7;
    color: #F5F6F7;
    border-width: 3px;
    border-radius: 0;
}

.curriculum-link:hover {
    background-color: #F5F6F7;
    color: #3b3b4f;
}

.curriculum-link-div {
    gap: 15px;
}

/* FOOTER */
.main-footer {
    background-color: #2A2A40;
}

.footer-container {
    padding: 30px;
}

.footer-container p {
    margin: 0;
}