.App {
  width: 300px;
  background-color: #E6E6FA;
  border-radius: 15px;
}

button {
  margin: 5px;
}

.display {
  position: relative;
  min-height: 70px;
  width: 100%;
  padding: 5px;
  text-align: right;
  font-weight: bold;
  font-size: 20px;
  border-radius: 15px 15px 0 0;
  background-color: #D3D3D3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.display p {
  margin-bottom: 0;
}

.display small {
  position: absolute;
  top: 3px;
  right: 49px;
  font-size: 12px;
}

.nums-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nums-wrapper {
  width: 135px;
}

.ops-container {
  width: 50px;
}

.c-width {
  width: 124px !important;
}

.operation-width {
  width: 38px !important;
}

.dot-width {
  width: 79px !important;
}