/* GENERAL */

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fff;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    position: relative;
}

.rotated-text {
    transform: rotate(-90deg);
}

.arrow {
    animation: MoveUpDown 1s ease infinite;
}

.arrow::before,
.arrow::after {
    position: relative;
    content: '';
    display: block;
    width: 20px;
    height: 1px;
    background: #000;
}

.arrow::before {
    transform: rotate(45deg);
}

.arrow::after {
    left: 14px;
    transform: rotate(-45deg);
}


/* NAVBAR */

#page-wrapper {
    display: grid;
    grid-template-areas: "aside-welcome  main""aside-projects  main""aside-contact  main""foot  foot";
    grid-template-rows: 100vh;
    grid-template-columns: 200px 1fr;
}

#navbar {
    background-color: lime;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
}

#welcome-extra-info {
    background-color: #91966ee8;
    grid-area: aside-welcome;
    display: flex;
    justify-content: center;
    align-items: center;
}

#projects-extra-info {
    background-color: blanchedalmond;
    grid-area: aside-projects;
}

#contact-extra-info {
    background-color: darkslategray;
    grid-area: aside-contact;
}


/* MAIN */

#main {
    background-color: yellow;
    grid-area: main;
}

#welcome-section,
#projects,
#contact {
    height: 100vh;
}

/* WELCOME */

#welcome-section {
    background-color: #91966E;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.welcome-section__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* PROJECTS */

#projects {
    padding-top: 30px;
}

/* CONTACT */

#contact {}

#footer {
    background-color: red;
    grid-area: foot;
    text-align: center;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 425px) {
    #page-wrapper {
        display: grid;
        grid-template-areas: "main""foot";
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }

    #extra-info {
        display: none;
    }
}

/* ANIMATIONS */

@keyframes MoveUpDown {

    0%,
    100% {
        transform: translate(0);
    }

    50% {
        transform: translate(0, 20px);
    }
}