/* GENERAL */

:root {
    --white: #fff;
    --black: #000;
    --gray: #161616;
    --blue: #C4E8DF;
    --green: #D8F6D6;
    --yellow-green: #EEFBDD;
    --yellow: #FFFFE6;
    --orange: #FFEEDD;
    --red: #FFE4DD;
}

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--white);
    color: var(--black);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    position: relative;
}

.rotated-text {
    transform: rotate(-90deg);
}

.arrow {
    margin-top: 20px;
    animation: MoveUpDown 1s ease infinite;
}

.arrow::before,
.arrow::after {
    position: relative;
    content: '';
    display: block;
    width: 20px;
    height: 1px;
    background: var(--black);
}

.arrow::before {
    transform: rotate(45deg);
}

.arrow::after {
    left: 14px;
    transform: rotate(-45deg);
}


/* NAVBAR */

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
    background-color: var(--red);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__link {
    margin: 0 20px;
    text-decoration: none;
}


/* PAGE STRUCTURE */

#page-wrapper {
    display: grid;
    grid-template-areas: "aside-welcome  main""aside-projects  main""aside-contact  main""foot  foot";
    grid-template-rows: 100vh;
    grid-template-columns: 200px 1fr;
}

#welcome-extra-info,
#projects-extra-info,
#contact-extra-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

#welcome-extra-info {
    background-color: var(--blue);
    grid-area: aside-welcome;

}

#projects-extra-info {
    background-color: var(--green);
    grid-area: aside-projects;
}

#contact-extra-info {
    background-color: var(--yellow-green);
    grid-area: aside-contact;
}


/* MAIN */

#main {
    background-color: var(--white);
    grid-area: main;
}

#welcome-section,
#projects,
#contact {
    height: 100vh;
}

/* WELCOME */

#welcome-section {
    background-color: var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.welcome-section__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
}

/* PROJECTS */

#projects {
    background-color: var(--yellow);
}

/* CONTACT */

#contact {
    background-color: var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.contact-section__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
}

/* FOOTER */

#footer {
    background-color: var(--red);
    grid-area: foot;
    text-align: center;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 425px) {
    #navbar {
        height: 150px;
        flex-direction: column;
    }

    .navbar__link {
        margin: 10px 0;
        text-decoration: none;
    }

    #page-wrapper {
        display: grid;
        grid-template-areas: "main""foot";
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }

    #welcome-extra-info,
    #projects-extra-info,
    #contact-extra-info {
        display: none;
    }

    #projects {
        padding-top: 300px;
    }
}

/* ANIMATIONS */

@keyframes MoveUpDown {

    0%,
    100% {
        transform: translate(0);
    }

    50% {
        transform: translate(0, 20px);
    }
}