body {
    position: relative;
}

#title {
    font-size: 3rem;
}

#subtitle {
    font-weight: lighter;
}

#tooltip {
    position: absolute;
    background: #b5e8ff;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    opacity: 0;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}