body,
html {
    height: 100%;
    background-color: #FFE5B4 !important;
}

.title {
    display: inline;
    font-family: 'Roboto', sans-serif;
    color: #36454F !important;
}

#editor {
    max-width: 400px;
    min-width: 400px;
    min-height: 400px;
    max-height: 400px;
    font-family: monospace;
    resize: none;
}

#editor, #preview {
    background-color: #fff3dd !important;
    border-radius: 5px;
}

#preview {
    min-height: 400px;
    max-height: 400px;
    max-width: 400px;
    font-family: 'Crimson Text', serif;
    overflow-y: auto;
    cursor: auto;
}

#github-link {
    all: unset;
    cursor: pointer;
    font-size: 0.85rem;
}