* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: white;
  color: #2B283A;
  height: 100vh;
}

/* NAV */
nav {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  align-items: center;
  padding: 10px 30px;
}

nav.dark {
  background-color: #21222A;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__image {
  width: 30px;
  margin-right: 10px;
}

.logo__title {
  color: #6CCFF0;
}

.index {
  color: #eeeeee;
}

/* MAIN */
main {
  color: #000;
  padding: 10px 30px;
}

main.dark {
  background-color: #282D35;
  color: white;    
}

main > h1 {
  font-size: 30px;
}

main > ul {
  padding-left: 20px;
  list-style: none;
}

main > ul > li {
  display: flex;
  align-items: center;
}

main > ul > li::before {
  content: "\2022"; 
  font-size: 30px;
  color: #6CCFF0;
}

.toggler {
  display: flex;
  align-items: center;
}

.toggler p {
  font-size: 20px;
}

.toggler--slider {
  width: 25px;
  height: 13px;
  background-color: #2B283A;
  border-radius: 2rem;
  margin-inline: 7px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  box-sizing: content-box;
}

nav.dark .toggler--slider {
  border-color: white;
  background-color: #F5F5F5;
}

.toggler--slider--circle {
  height: 13px;
  width: 13px;
  background-color: white;
  border-radius: 50%;
}

nav.dark .toggler--slider--circle {
  background-color: black;
}

.toggler--light {
  color: #2B283A;
}

nav.dark .toggler--light {
  color: #918E9B;
}

.toggler--dark {
  color: #D5D4D8;
}

nav.dark .toggler-dark {
  color: #FFFFFF;
}

nav.dark .toggler--slider {
  justify-content: flex-end;
}
