body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #e2a5a5;
    margin: 0;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: #ffffff;

}

.input-container,
.result-container {
    background: white;
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

p {
    color: #555;
    margin: 0;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #007BFF;
    border-radius: 5px;
    outline: none;
    margin: 10px 0;
    width: 200px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#clear-btn {

    background-color: #ff4545;
}

#clear-btn:hover {
    background-color: #ff1616;
}


#result {
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
}