/* GENERAL */

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    color: white;
    font-size: 20px;
    /* TODO change for github url*/
    background: linear-gradient(#ececec, #a8a8a8);
}

p {
    line-height: 1.6;
}


/* PAGE STYLE*/

#main,
#header {
    max-width: 800px;
    margin: auto;
}


/* HEADER */

#header {
    padding: 20px 0;
}

#title,
#description {
    text-align: center;
    margin: 0;
    color: #202020;
}

#title {
    font-size: 70px;
}

#description {
    font-style: italic;
    padding: 15px
}


/* MAIN */

#main {
    background-color: #93A169;
    padding: 30px;
    margin: 50px auto;
}

label {
    display: block;
    margin: 0.5rem 0;
}

input,
textarea,
select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
    color: #93A169;
}

::placeholder {
    color: #93A169;
    opacity: 0.5;
}


/* CUSTOM RADIOBOXES */

.radio-label {
    display: block;
    padding-left: 35px;
    margin-bottom: 12px;
    font-size: 22px;
}

.checkmark-radio {
    left: 0;
    border-radius: 50%;
}

.radio-label .checkmark-radio:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}


/* CUSTOM CHECKBOXES */

.checkmark-box {
    left: 250px;
    border-radius: 5px;
}

.checkbox-label input:checked~.checkmark-box {
    border: 1px solid white;
}

.checkbox-label .checkmark-box:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}


/* CUSTOM RADIOBOXES & CUSTOM CHECKBOXES */

.checkbox-label,
.radio-label {
    position: relative;
    cursor: pointer;
    user-select: none;
}

.checkmark-box:after,
.checkmark-radio:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-label input:checked~.checkmark-box:after,
.radio-label input:checked~.checkmark-radio:after {
    display: block;
}

.checkbox-label:hover input~.checkmark-box,
.radio-label:hover input~.checkmark-radio {
    background-color: #ccc;
}

.radio-label input:checked~.checkmark-radio,
.checkbox-label input:checked~.checkmark-box {
    background-color: #b3c481;
}

.radio-label input,
.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark-radio,
.checkmark-box {
    position: absolute;
    top: 0;
    height: 25px;
    width: 25px;
    background-color: white;
}


/* SUBMIT BTN */

#submit {
    cursor: pointer;
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 75px;
    font-size: 25px;
    text-transform: uppercase;
    background-color: white;
    color: #93A169;
    border: none;
    min-width: 300px;
}

#submit:hover {
    background-color: #b3c481;
    color: white;
}

#submit:active {
    background-color: #bfd188;
    color: white;
}


/* FOOTER */

#footer {
    padding: 50px 0;
}

#footer-description {
    text-align: center;
    margin: 0;
    color: #202020;
    font-size: 16px;
}

#footer-description a {
    text-decoration: none;
    color: #6e794e;
}

#footer-description a:hover {
    text-decoration: none;
    color: #505a35;
}