/* GENERAL */

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: white;
    font-size: 20px;
    /* TODO change for github url*/
    background: linear-gradient(#ececec, #a8a8a8);
}

p {
    line-height: 1.6;
}


/* PAGE STYLE*/

#main,
#header {
    max-width: 600px;
    margin: auto;
}


/* HEADER */

#header {
    padding: 40px 0 10px 0;
}

#title,
#description {
    text-align: center;
    margin: 0;
    color: #202020;
}

#title {
    font-size: 60px;
}

#description {
    font-style: italic;
    padding: 15px
}


/* MAIN */

#main {
    background-color: #93A169;
    padding: 30px;
    margin: 50px auto;
}

label {
    display: block;
}

input,
select {
    margin: 10px 0 0 0;
    width: 100%;
    height: 40px;
    padding: 8px 15px;
    color: #93A169;
}

option,
 ::placeholder,
input,
select {
    font-size: 16px;
    font-weight: normal;
}

option:disabled {
    background-color: #c2c2c2;
}

textarea {
    margin: 10px 0 0 0;
    width: 100%;
    height: 100px;
    padding: 8px 15px;
    color: #93A169;
}

::placeholder {
    color: #b2bd90;
    font-weight: lighter;
    opacity: 0.5;
}

.form-section {
    margin-top: 20px;
}

.form-section-header {
    margin-bottom: 20px;
}

.capitalize-first::first-letter {
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
    color: #ececec;
    letter-spacing: 2px;
}


/* CUSTOM RADIOBOXES */

.radio-label {
    display: block;
    padding-left: 35px;
    margin-bottom: 12px;
}

.checkmark-radio {
    left: 0;
    border-radius: 50%;
}

.radio-label .checkmark-radio:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}


/* CUSTOM CHECKBOXES */

.checkmark-box {
    left: 250px;
    border-radius: 5px;
}

.checkbox-label input:checked~.checkmark-box {
    border: 1px solid white;
}

.checkbox-label .checkmark-box:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}


/* CUSTOM RADIOBOXES & CUSTOM CHECKBOXES */

.checkbox-label,
.radio-label {
    position: relative;
    cursor: pointer;
    user-select: none;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
}

.checkmark-box:after,
.checkmark-radio:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-label input:checked~.checkmark-box:after,
.radio-label input:checked~.checkmark-radio:after {
    display: block;
}

.checkbox-label:hover input~.checkmark-box,
.radio-label:hover input~.checkmark-radio {
    background-color: #ccc;
}

.radio-label input:checked~.checkmark-radio,
.checkbox-label input:checked~.checkmark-box {
    background-color: #b3c481;
}

.radio-label input,
.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark-radio,
.checkmark-box {
    position: absolute;
    top: 5px;
    height: 25px;
    width: 25px;
    background-color: white;
}


/* SUBMIT BTN */

#submit {
    cursor: pointer;
    display: block;
    width: 100%;
    margin: 1em auto;
    height: 60px;
    font-size: 22px;
    text-transform: uppercase;
    background-color: white;
    color: #93A169;
    border: none;
    min-width: 300px;
}

#submit:hover {
    background-color: #b3c481;
    color: white;
}

#submit:active {
    background-color: #bfd188;
    color: white;
}


/* FOOTER */

#footer {
    height: 100px;
    background-color: #202020;
}

#footer-description {
    text-align: center;
    padding-top: 30px;
    color: white;
    font-size: 18px;
}

#footer-description a {
    text-decoration: none;
    color: #b3c286;
}

#footer-description a:hover {
    text-decoration: none;
    color: #86965b;
}