body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #fffac8;
  color: #e6e6e6;
}

/* ROOT */
#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
}

/* MAIN */
.container {
  max-width: 500px;
  margin: auto;
}

/* HEADER */
.nav {
  padding: 5px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3671b4;
}

.nav--icon {
  width: 40px;
}

/* MAIN */
.main {
  padding: 50px 20px;
  background-color: #4088da;
}

/* FOOTER */
.footer {
  padding: 10px;
  text-align: center;
  background-color: #272727;
}

.footer--dev_link {
  color: #ccc;
}