/* ROOT */

:root {
    --purple: #aa80ff;
    --black: #1A181A;
    --white: #ebebeb;
    --gate-green: #48A852;
    --gate-red: #873B3B;
    --gate-blue: #488FA8;
    --gate-gold: #C89A49;
}


/* GENERAL */

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto Mono', monospace;
    font-size: 62.5%;
}

body {
    margin: 0;
    background-color: #9A9797;
    color: var(--white);
}

input {
    font-family: 'Roboto Mono', monospace;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 2.5rem;
}

p,
a,
i,
input {
    font-size: 2rem;
}


/* NAVBAR */

#header {
    position: fixed;
    top: 0;
}

#nav-bar {
    display: flex;
}


/* HERO */


/* PLAY THE GAME */


/* MAIN */


/* FEATURES */


/* DEVELOPER */


/* NEWSLETTER */


/* FOOTER */


/* MEDIA QUERIES */

@media only screen and (max-width: 600px) {
    #nav-bar {
        flex-direction: column;
    }
}

@media only screen and (min-width: 1200px) {
    #nav-bar {
        flex-direction: row;
    }
}