body,
html {
    height: 100%;
}

* {
    font-family: 'Roboto', sans-serif;
}

#quote-box {
    background-color: #1c1c1c;
    color: #fff;
    border-radius: 8px;
}

#text, #author {
    font-family: 'Crimson Text', serif;
}

#text {
    font-size: 2rem;
    line-height: 2.2rem;
}

#author {
    font-size: 1.25rem;
    font-style: italic;
}

#tweet-quote {
    all: unset;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}

#github-link {
    all: unset;
    cursor: pointer;
    font-size: 0.85rem;
}