* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

body, input, button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* NAVBAR */

.navbar {
  background: linear-gradient(90deg, #5c1f77 0%, #9c20cb 100%);
  color: #fff;
  display: flex;
  align-items: center;
  padding: 15px 30px;
}

.navbar__img {
  width: 50px;
  margin-right: 20px;
}

.navbar__title {
  font-size: 1.25rem;
  margin-right: auto;
}

.navbar__project {
  font-size: 1.1rem;
}

/* MEME */

.meme {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.meme__form {
  display: flex;
  flex-direction: column;
}

.meme__inputs {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.meme__input {
  margin: 0 10px;
  padding: 8px;
  border-radius: 2px;
  border: 0.5px #9b9b9b solid;
  text-indent: 5px;
}

.meme__input-submit {
  margin: 0 10px;
  background: linear-gradient(90deg, #5c1f77 0%, #9c20cb 100%);
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.meme__image {
  padding: 10px 10px;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.meme__image-container {
  position: relative;
}

.meme__text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}