body {
    margin: 0;
    font-family: sans-serif;
}

body,
html {
    height: 100%;
}

body {
    background-color: rgb(241, 230, 194) !important;
    font-family: "Lato", sans-serif;
}

#root {
    height: 100%;
}

#github-link {
    all: unset;
    cursor: pointer;
    font-size: 0.85rem;
}