body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #00072e;
    color: #fff;
    margin: 0;
    padding: 20px;
}

input {
    padding: 10px;
    font-size: 16px;
    width: 250px;
    border: 2px solid #007BFF;
    border-radius: 5px;
    outline: none;
    margin-bottom: 20px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background-color: #0056b3;
}

#sprite-container {
    height: 100px;
}

.container {
    margin: 0 auto;
    width: 300px;
    display: flex;
    justify-content: center;
    text-align: left;
}

#hp,
#attack,
#defense,
#special-attack,
#special-defense,
#speed {
    text-align: center;
}

#pokemon-name {
    text-transform: capitalize;
}

#pokemon-name, #pokemon-id {
    font-size: 1.2rem;
}

#types {
    margin: 30px auto;
}

.type {
    margin: 5px;
    padding: 5px;
    border-radius: 3px;
    text-align: center;
    text-transform: capitalize;
}

.normal {
    background-color: #AAAA99;
}

.fire {
    background-color: #EC4225;
}

.water {
    background-color: #4E9AFF;
}

.electric {
    background-color: #F5CC34;
}

.grass {
    background-color: #77CC55;
}

.ice {
    background-color: #66CCFF;
}

.fighting {
    background-color: #BB5545;
}

.poison {
    background-color: #AA5599;
}

.ground {
    background-color: #DDBB55;
}

.flying {
    background-color: #8899FF;
}

.psychic {
    background-color: #EE5499;
}

.bug {
    background-color: #AABB22;

}

.rock {
    background-color: #BBAA66;
}

.ghost {
    background-color: #6667BC;
}

.dragon {
    background-color: #7867EE;
}