body {
    position: relative;
}

.tooltip {
    visibility: visible;
    position: absolute;
    background: #000000;
    color: #fff;
    padding: 5px;
    border-radius: 2px;
    opacity: 0;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    min-width: 110px;
    min-height: 55px;
}